@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"> Welcome to the DevOps Learnings..
<h2> Hello New Learner.</h2>
<br/>
<h2>This is test for trigger</h2>

:::::::::::::::::::::::::::::::::::::::::::::::::::</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
